<!doctype html>
<html lang="en">
	<head lang="en">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Get a Scholarship form the world's biggest scholarship search engine.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Skolaly - Get a Scholarship</title>

		<!-- Material Design Lite -->
		<script type="text/javascript" src="@{'/public/javascripts/mdl/material.min.js'}"></script>
		<link rel="stylesheet" href="@{'/public/javascripts/mdl/material.min.css'}">
		<!-- Material Design icon font -->

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/results.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/play-pagination.css'}">

		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
	</head>
	<body>
        <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"><code><strong>
                            Skolaly
                        </strong></code></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer">

                </div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="@{Application.about()}">About</a>
                    <a class="mdl-navigation__link" href="@{Application.terms()}">Terms</a>
                    <a class="mdl-navigation__link" href="@{Application.privacy()}">Privacy and Cookies</a>
                </nav>
            </div>
        </header>
            <main class="mdl-layout__content">
                <div id="page-content">
                    <!-- Textfield with Floating Label -->
                    <div>
                        <h3>Privacy and Cookie Policy</h3>

                        <h4>Cookie Policy</h4>

                        <p>By using or accessing the Website, you are consenting to Skolaly's use of Cookies as follows:</p>

                        <p>This policy helps to explain the occasions when and why cookies may be sent to visitors to the Website
                            (referred to in this policy as "we", "us" or "our"). "Cookies" are text-only pieces of information
                            that a web site transfers to an individual's hard drive or other web site-browsing equipment for
                            record-keeping purposes. Cookies allow the Website to remember important information that will make
                            your use of the site more convenient. A cookie will typically contain the name of the domain from
                            which the cookie has come, the "lifetime" of the cookie, and a randomly generated unique number or
                            other value. Like most web sites, we use cookies for a variety of purposes in order to improve your
                            online experience, for analytics and for marketing, but specifically we use Cookies on the Website
                            for the following purposes:</p>

                        <ol type="1">
                            <li>Analytical Purposes: We use Cookies to analyze user activity in order to improve the Website.
                                For example, using Cookies we can look at aggregate patterns like the average number of
                                scholarship searches that users perform. We can use such analysis to gain insights about how to
                                improve the functionality and user experience of the Website.</li>

                            <li>Your Preferences: We use Cookies to store certain user preferences on our Website. For example,
                                we may store the recent searches you have performed in a Cookie so that we can allow you to
                                easily repeat those searches when you return to our Website.</li>
                        </ol>

                        <p>Session Cookies are temporary cookies that remain in the cookie file of your browser until you leave
                            the Website.</p>

                        <p>Persistent Cookies remain in the cookie file of your browser for much longer (though how long will
                            depend on the lifetime of the specific cookie). When we use session cookies to track the total number
                            of visitors to our Website, this is done on an anonymous aggregate basis (as cookies do not in
                            themselves carry any personal data). We may also employ cookies so that we remember your computer
                            when it is used to return to the Website to help customize your Skolaly web experience. We may
                            associate personal information with a cookie file in those instances. Use the options in your web
                            browser if you do not wish to receive a cookie or if you wish to set your browser to notify you when
                            you receive a cookie. You can easily delete any cookies that have been installed in the cookie folder
                            of your browser. For example, if you are using Microsoft Windows Explorer:</p>

                        <ol type="1">
                            <li>Open 'Windows Explorer'</li>
                            <li>Click on the 'Search' button on the tool bar</li>
                            <li>Type 'cookie' into the search box for 'Folders and Files'</li>
                            <li>Select 'My Computer' in the 'Look In' box</li>
                            <li>Click 'Search Now'</li>
                            <li>Double click on the folders that are found</li>
                            <li>'Select' any cookie file</li>
                            <li>Hit the 'Delete' button on your keyboard</li>
                        </ol>

                        <p>If you are not using Microsoft Windows Explorer, then you should select "cookies" in the "Help"
                            function for information on where to find your cookie folder. If you disable all cookies, you may
                            not be able to take advantage of all the features of this web site.</p>

                        <p>
                            Skolaly uses the AdWords and Remarketing Lists features of Google Analytics for Display Advertisers.
                            Skolaly and Google use first-party cookies (such as the Google Analytics cookie) and third-party
                            cookies (such as the DoubleClick cookie) together to inform, optimize, and serve ads based on your
                            past visits to our Website. This means that vendors including Google will display Skolaly promotional
                            material on other sites you visit across the Internet.</p>

                        <p>You may opt-out of Google Analytics for Display Advertisers including AdWords and opt-out of customized
                            Google Display Network ads by visiting the Google Ads Preferences Manager. To provide web site
                            visitors more choice on how their data is collected by Google Analytics, Google has developed an
                            Opt-out Browser add-on, which is available by visiting Google Analytics Opt-out Browser Add-on, to
                            enable you to opt-out of Google's programs.</p>

                        <h4>Changes To Our Cookie Policy</h4>
                        <p>From time to time, it may be necessary for us to change this cookie policy. We suggest that you check
                            here periodically for any changes.</p>

                        <h3>Privacy Policy</h3>
                        <p>Skolaly has created this Privacy Policy in order to disclose its use of personal data you give to
                            Skolaly when you access or use Skolaly's online and/or mobile services, web sites, and software
                            provided on or in connection with the services or web sites (collectively, the "Website"). You may
                            contact Skolaly, Inc. at Molyko, Buea, South West Region, Cameroon or you can reach either company
                            via our Website contact form.</p>

                        <p>This Privacy Policy covers only data collected through the Website and not any other data collection
                            or processing, including, without limitation, data collection practices of other web pages to which
                            we link or data that we or our subsidiaries collect offline or through web sites, products, or
                            services that do not display a direct link to this Privacy Policy. Occasionally, we may refer to
                            this Privacy Policy in notices and consent requests related to special-purpose web pages, for
                            example, if we invite you to submit ideas to improve the Website; under such circumstances, this
                            Privacy Policy applies as modified in the particular notice or consent request (e.g., with respect
                            to types of data collected or purposes of collection).</p>

                        <h4>1. Information Collected and Utilized</h4>
                        <p>When you request information, subscribe for a service, register as a user, participate in a survey,
                            post a rating or review, post a question or answer, post a resume, upload content or otherwise
                            actively send us data on our Website, we usually collect data including, but not limited to, username,
                            password, first and last name, email address, street address, gender, occupation, interests,
                            messages you send to users and any other data included in a submitted profile or resume. In
                            connection with chargeable services, we will also collect payment information (e.g., credit card
                            number and related verification information). In each such instance, you will know what data we
                            collect through the Website, because you actively submit it.</p>

                        <p>As part of the standard operation of the Website, Skolaly will automatically collect information from
                            your computer or mobile device, including, but not limited to, your browser type, operating system,
                            IP address and the domain name from which you accessed the site, and if you are accessing our site
                            with your mobile device, type of mobile device. In addition we may record actions taken on the
                            Website including, but not limited to, date and times of use, clicks, page views, the amount of time
                            you spend on each page, and search queries. Skolaly reserves the right to match your IP address or
                            other information with other information about you in any way permitted by applicable law. Skolaly
                            will store this information on its equipment or the equipment of third parties that it has a
                            relationship with for that purpose. If you create an Skolaly account, information may be collected
                            under your account email address.</p>

                        <p>If you access or use the Website on your mobile telephone or other mobile device, including tablets,
                            we collect mobile device identifiers, including IP Address. Skolaly may create and assign to your
                            device an identifier that is similar to an account number. We may collect the name you have
                            associated with your device, device type, telephone number, country, and any other information you
                            choose to provide, such as user name, geo-location or e-mail address. We may also access your
                            contacts to enable you to invite friends to join you in the Website.</p>

                        <h4>2. Uses of Information</h4>
                        <p>When you submit information to Skolaly, this information will be used for the purposes set forth in
                            Paragraphs 2 and 3 of this Privacy Policy. Skolaly uses this information and information generated
                            when you use our Website, including but not limited to your resume, your posted reviews, searches,
                            clicks, taps, web sites and web pages you visit through our mobile software (including third party
                            web sites and web pages), scholarship applications, messages and postings to provide our services
                            and features to you, to provide your information to employers that may be interested in contacting
                            you, to provide employer information to you and to measure and improve those services and features,
                            and to provide you with customer support. For example, Skolaly uses your previous search history and
                            the scholarships you click on to determine relevant search results and provide you with recommended
                            scholarships.</p>

                        <p>We may use other companies, including other members of the Skolaly corporate group and third parties,
                            to perform services necessary to our operations. In the course of providing these services, those
                            companies may have access to your personal information and such information may be transferred
                            overseas. By contractual agreement, those companies must treat your information in accordance with
                            this Privacy Policy. However, we will not be liable (to the fullest extent permitted by law) for any
                            damages that may result from the misuse of your personal information by these companies. Skolaly may
                            use your IP address and mobile device information to help diagnose problems with Skolaly's service
                            and to administer Skolaly's site. Your IP address and mobile device information may also be used to
                            help identify you, your location, and your online profile and to gather broad demographic information
                            (such as country of origin). Skolaly may maintain (as permitted by applicable law) your data
                            following your termination of your relationship with Skolaly. Skolaly may delete your user data as
                            permitted by applicable law. If you provide credit, debit or other payment card and related details
                            to us in order to make a payment, Skolaly will use those details only for the purpose of processing
                            the payment. Skolaly may also aggregate your data with other data, for the purposes set forth above.</p>

                        <h4>3. Contact and Resume Information</h4>
                        <p>When you give Skolaly contact information (such as your name and email address) and demographic information,
                            you agree that Skolaly may utilize this information as set forth herein. You agree that Skolaly may, as
                            part of its services to you, communicate with you, or initiate communication with you on behalf of a 3rd
                            party, through your Skolaly account or through other means made available through your contact information
                            such as email, phone, or postal mail. If and to the extent permitted by applicable law, Skolaly, or its
                            designated third party partners, may also use your contact information to (i) send you scholarship alerts;
                            (ii) create an account; (iii) send you information about Skolaly. Skolaly may use demographic and/or
                            profile data to tailor your experience on Skolaly's site, show you content that Skolaly thinks you may be
                            interested in, and display content according to your preferences. Your personal information gets placed on
                            the Skolaly Website when you upload or edit a resume. To the extent you upload a resume or edit it, and
                            subject to your Privacy Settings, you are making the resume, your name and other personal information that
                            you place on your resume available to third parties who may be interested in you as a student, search
                            engines, or to the general public by posting your personal information on the internet. You acknowledge
                            that Skolaly may note if the words of your resume match the words of certain scholarship descriptions, if
                            you use your resume to apply for a scholarship through Skolaly, in order to improve service to scholarship
                            seekers and schools. If you post a public resume, this may be crawled by, and displayed through, search
                            engines when someone searches for your name. This means that third parties can view the personal
                            information contained in your resume and you may receive unsolicited contact from parties unaffiliated
                            with Skolaly and for whom Skolaly has no responsibility. If you do not want your personal information
                            posted on the Website, you should not upload it. You may opt-out of this feature by editing your Privacy
                            Settings; however, Skolaly does not warrant how often third-party search engines will update their caches,
                            which may contain old public resume information. Skolaly reserves the right to charge third parties a fee
                            for accessing your information as part of Skolaly's services. At your direction, Skolaly may also send your
                            resume to third parties if you choose to apply for a scholarship listing.</p>

                        <h4>4. Consent</h4>
                        <p>Skolaly offers any user the choice to utilize the Skolaly website. If you create a resume on, upload your
                            resume to or apply to a scholarship through or otherwise use the Skolaly website, you are specifically
                            consenting to the use of any personal information you have provided to Skolaly as set forth herein and in
                            the Terms of Service.</p>

                        <h4>5. Security</h4>
                        <p>The Website has security measures in place to protect the loss, misuse and alteration of the information
                            under Skolaly's control. Skolaly uses, access control policies, anti-virus programs and firewalls to
                            protect information under our control. No method of transmission over the Internet, or method of electronic
                            storage, is 100% secure, however. In addition, please note that emails, messages sent via your web browser,
                            and other similar means of communication with other users are not encrypted. We strongly advise you not to
                            communicate any confidential information through these means. Therefore, while we strive to protect your
                            information, we cannot guarantee its security.</p>

                        <h4>6. Cookies</h4>
                        <p>"Cookies" are small pieces of information that are stored by your browser on your computer's hard drive.
                            Please see our cookie policy above for further information regarding Skolaly's use of Cookies.</p>

                        <h4>7. Links</h4>
                        <p>Skolaly may create links to other web sites. When you click on links on Skolaly you may leave our Website.
                            We are not responsible for the privacy practices of other web sites, and we encourage you to read their
                            privacy statements.</p>

                        <h4>8. Amendments</h4>
                        <p>Skolaly may amend this Privacy Policy at any time. If Skolaly is going to use personally identifiable
                            information collected through Skolaly's site in a manner materially different from that stated at the time
                            of collection Skolaly will notify users via email and/or by posting a notice on Skolaly's Website for 30
                            days prior to such use or by other means as required by law.</p>

                        <h4>9. Assignment</h4>
                        <p>If there is a change of ownership or control in Skolaly's business (whether by merger, sale, or otherwise)
                            or if there is an asset sale, the user information, including your personal information, could be disclosed
                            as part of such a process and / or sold as part of that transaction and your personally identifying
                            information potentially could be used by the purchaser. However, if that business materially changes this
                            statement or the information-handling practices as described in this Privacy Policy, you will be notified
                            by email and/or through a notice posted on the website, and you may opt-out of the use of your existing
                            information in a new manner. This Privacy Policy inures to the benefit of any successors or assigns of
                            Skolaly or the assets of Skolaly.</p>

                        <h4>10. Do Not Track Requests</h4>
                        <p>We do not respond to the browser "Do Not Track" (DNT) signal if enabled by the user in their web browser.
                            When we set or read cookies on non-Skolaly sites that have integrated our scholarship search and display
                            features, we do so in order to provide a personalized scholarship search experience to users on those sites.
                            We do not share any information about your use of Skolaly with those third-parties. When third-parties that
                            we have integrated into Skolaly sites (as described in the Skolaly Cookie Policy) set or read their own
                            third-party cookies, they may or may not respond to the DNT signal.</p>
                    </div>
                </div>
            </main>
        </div>
	</body>
</html>