<!doctype html>
<html lang="en">
	<head lang="en">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Get a Scholarship form the world's biggest scholarship search engine.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Skolaly - Get a Scholarship</title>

		<!-- Material Design Lite -->
		<script type="text/javascript" src="@{'/public/javascripts/mdl/material.min.js'}"></script>
		<link rel="stylesheet" href="@{'/public/javascripts/mdl/material.min.css'}">

        <!-- Material Design icon font -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/results.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/play-pagination.css'}">

		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
	</head>
	<body>
        <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header mdl-layout__header--transparent">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title"><code><strong>
                            Skolaly
                        </strong></code></span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer">

                    </div>
                    <!-- Navigation -->
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="@{Application.about()}">About</a>
                        <a class="mdl-navigation__link" href="@{Application.terms()}">Terms</a>
                        <a class="mdl-navigation__link" href="@{Application.privacy()}">Privacy and Cookies</a>
                    </nav>
                </div>
            </header>
            <main class="mdl-layout__content">
                <div id="page-content">
                    <div>
                        <h3>Skolaly Terms of Service</h3>
                        <p>When you access or use Skolaly's online and/or mobile services, web sites, and software provided on or
                            in connection with the services or web sites (collectively, the "Website"), (a) you represent that
                            you have read and understand the Cookies Policy and Privacy Policy and (b) you conclude a legally
                            binding agreement ("Agreement") based on these Skolaly Terms of Service with (1) Skolaly Inc., Molyko,
                            Buea, South West Region, Cameroon. Any references to "Skolaly" shall mean Skolaly Inc.</p>

                        <h4>1. Scholarship Content</h4>
                        <p>The scholarships contained in Skolaly's search results, or linked from those results, are created by
                            people over whom Skolaly exercises no control. You acknowledge and understand that although Skolaly
                            reserves the right to reject any particular scholarship for failure to meet our quality standards,
                            we cannot guarantee we will remove any particular scholarship. Skolaly does not control the content
                            of the scholarship listings or other information posted herein, as that is the sole responsibility of
                            the person posting the scholarship solicitation. Skolaly's scholarship search results are indexed in an
                            automated manner. Skolaly does not have any obligation to show scholarships in any particular order.
                            Skolaly also does not promise to include any scholarship in its search results and may exclude any
                            scholarship posting, free or paid, for any reason or for no reason. We cannot confirm that users or
                            employers are who they claim to be. Skolaly assumes no responsibility, and disclaims all liability,
                            for the content, accuracy, completeness, legality, reliability, or availability of any scholarship
                            listing, information, or web site that is either included in Skolaly's search results or linked to by
                            the Website.</p>

                        <p>The Website contains links to other sites on the Internet which are owned and operated by third party
                            vendors and other third parties (the "External Sites"). You acknowledge that Skolaly is not responsible
                            for the availability of, or the materials located on or through any External Sites. You should contact
                            the site administrator or webmaster for those External Sites if you have any concerns regarding such
                            links or the materials located on such External Sites.</p>

                        <h4>2. Use of Skolaly</h4>
                        <p>Skolaly's Website is for your personal, non-commercial use only, if you have no other agreement with
                            Skolaly. If you wish to make commercial use of the Website, or if you wish to purchase Skolaly services
                            utilizing the Website, you must enter into an agreement with Skolaly to do so in advance. We reserve the
                            right at all times (but will not have an obligation) to terminate users, reclaim usernames or URLs for
                            any reason.</p>

                        <h4>3. User Content</h4>
                        <p>Some parts of the Website, such as message boards, scholarship listings, and forums, may allow users to
                            post text, scholarship solicitations, resumes, information, images, audio, video, messages, and other
                            materials, (any such materials a user submits, posts, displays, or otherwise makes available on the
                            Website is referred to as "User Content"). Such functionality is designed to help readers obtain education
                            and company information, facilitate communication, discuss ways to make education decisions, and to let
                            users know of scholarship opportunities. This User Content is provided by outside contributors, many of
                            whom use anonymous screen names. They may occasionally post User Content, including messages or statements
                            that are misleading, deceptive, or downright wrong. Skolaly does not endorse and is not responsible for
                            any opinion, advice, information, or statement contained in the User Content made or displayed on the
                            Website by third parties. You acknowledge that by accessing the Website, you may come into contact with
                            content that you find harmful, offensive, threatening, indecent or objectionable and you acknowledge that
                            Skolaly shall have no liability to you for the content including, but not limited to explicit language
                            and other potentially offensive material.</p>

                        <p>Users of the Website must not post User Content or information that is unlawful, fraudulent, discriminatory,
                            threatening, abusive, libelous, defamatory, obscene or otherwise objectionable or that contains sexual,
                            ethnic or racial or other discriminating slurs, or material which contains no relevant or constructive
                            content, which goes beyond profanity into obscenity or abhorrence, or which is otherwise in violation of
                            the law. Users are also prohibited from posting any User Content that contains proprietary information,
                            trade secrets or confidential information. User Content may not contain any advertisements, solicitations,
                            chain letters, pyramid schemes, investment opportunities, or other unsolicited commercial communication
                            (except as otherwise expressly permitted by us), or encourage or cause spamming or flooding.</p>

                        <p>When you create a Scholarship Site or post a scholarship solicitation on Skolaly, whether part of the Skolaly
                            Ads program or as a free posting, you agree that all of Skolaly's terms, including the Skolaly Privacy and
                            Cookie policies apply to you and to the applicants applying through such Sites or solicitations. You also
                            agree that Skolaly shall utilize its Skolaly Apply email relay function for such scholarship solicitations
                            and that applicants to those scholarships and utilizing such Career site shall apply through Skolaly Apply.
                            When you post a scholarship solicitation on Skolaly and you send, store or receive materials through or
                            using the website, Skolaly may also inform a user that you have taken an action with regards to a user's
                            application such as opening the application, viewing the application and making a decision with regards to
                            the application, and you hereby consent to Skolaly taking such actions. If you post a scholarship
                            solicitation on Skolaly with questions to applicants, you agree to be responsible for the content of such
                            questions. You agree that Skolaly may reject or remove any scholarship listing or any part of any Scholarship
                            Site or any screening question for any or no reason. Skolaly assumes no responsibility, and disclaims all
                            liability, for the content, accuracy, completeness, legality, reliability, or availability of any scholarship
                            listing, career site, scholarship solicitation, screener question, answer to screener question, resume
                            information you post on the Skolaly website or send through the Skolaly website. If you see any inaccuracy
                            in any such material, it is your responsibility to correct such information or to contact Skolaly to do so.
                            Skolaly does not promise to correct any inaccuracy. You shall indemnify and defend Skolaly, its agents,
                            affiliates, and licensors from any third party claim or liability (including without limitation reasonable
                            legal fees) arising out of your posting a scholarship on Skolaly, using screening questions, or creating a
                            Scholarship Site.</p>

                        <p>You are prohibited from posting any User Content containing official identification information (whether your
                            own or of another person) on the Website, such as social security number, passport number, national
                            identification number, insurance number, driver's license number, immigration number, or any other similar
                            number, code, or identifier. Posting such identification information may lead to identity theft and other
                            adverse consequences. Skolaly may remove such numbers but does not undertake any obligation to do so and
                            undertakes no responsibility and disclaims all liability for posting of such numbers.</p>

                        <p>Although Skolaly has no obligation to do so, Skolaly may monitor messages posted on the Website and reserves
                            the right to delete any User Content or portion thereof which violate the above rules, messages, topics that
                            are unrelated to the specific portion of the Website on which they are posted, advertisements, recruiting or
                            other commercial messages, and any other User Content that Skolaly deems in its sole discretion is
                            inappropriate. Skolaly does not promise to remove any User Content and interpretation of whether User
                            Content violates any Skolaly policy always remains within the sole discretion of Skolaly.</p>

                        <p>Skolaly reserves the right to disclose all User Content and other relevant information and the circumstances
                            surrounding their transmission to any third party in order to operate the Website properly; to protect
                            itself, its partners and its visitors; and to comply with legal obligations or governmental requests.
                            This means Skolaly may honor court-mandated requests to reveal a user's electronic address and identity.</p>

                        <h4>3. Rights to Use Materials</h4>
                        <p>To the maximum extent permitted by law, if you post content or submit material to Skolaly, including
                            photographs, including material you submit for a scholarship solicitation hosted on Skolaly, you grant
                            Skolaly a nonexclusive, worldwide, perpetual, (revocable only as described below), fully paid, royalty-free,
                            sublicensable (through multiple layers of sub-licensees) right and license to make, use, sell, sublicense,
                            reproduce, distribute, perform, display, prepare derivative works from and otherwise exploit all such content
                            and materials for the purpose of publishing material on the Skolaly website or its publisher partners,
                            maintaining the Skolaly website and promoting Skolaly without restriction. Furthermore, you grant Skolaly,
                            its affiliates, and sublicensees the right to use your name and/or user name in connection with the content.</p>

                        <p>At your discretion, you may provide feedback to Skolaly concerning the functionality and performance of the
                            Website from time to time, including, without limitation, identifying potential errors, improvements,
                            modifications, bug fixes, or enhancements ("Feedback"). If you, through your evaluation or otherwise,
                             suggests any Feedback, you hereby grant Skolaly a nonexclusive, worldwide, perpetual, irrevocable,
                            royalty-free, sublicensable (through multiple layers of sublicensees) right and license to make, use, sell,
                            sublicense, reproduce, distribute, perform, display, prepare derivative works from and otherwise exploit all
                            such Feedback and materials for any purpose without restriction. You agree that Skolaly may disclose that
                            Feedback to any third party in any manner and you agree that Skolaly has the ability to sublicense all
                            Feedback in any form to any third party without restriction. By submitting any Feedback, you agree that your
                            disclosure is gratuitous, unsolicited and without restriction and will not place Skolaly under any fiduciary
                            or other obligation, and that we are free to use the Feedback without any additional compensation to you,
                            and/or to disclose the Feedback on a non-confidential basis or otherwise to anyone. You further acknowledge
                            that, by acceptance of your Feedback, Skolaly does not waive any rights to use similar or related ideas
                            previously known to Skolaly, or developed by its employees, or obtained from sources other than you.</p>

                        <h4>4. Website Rules</h4>
                        <p>You agree not to access (or attempt to access) the Website by any means other than through the interface that
                            is provided by Skolaly, unless you have been specifically allowed to do so in a separate agreement with
                            Skolaly. You agree that you will not engage in any activity that interferes with or disrupts the Website
                            (or the servers and networks which are connected to the Website). Unless you have been specifically permitted
                            to do so in a separate agreement with Skolaly, you agree that you will not reproduce, duplicate, copy, sell,
                            trade or resell the Website for any purpose. You agree that you are solely responsible for (and that Skolaly
                            has no responsibility to you or to any third party for) any breach of your obligations under this Agreement
                            and for the consequences (including any loss or damage which Skolaly may suffer) of any such breach.</p>

                        <p>You agree you shall not transmit to Skolaly or upload as part of the Website any Harmful Code or use or
                            misappropriate the data on the Website for your own commercial gain. "Harmful Code" shall mean any software
                            (sometimes referred to as "viruses," "worms," "trojan horses," "time bombs," "time locks," "drop dead
                            devices," "traps," "access codes," "cancelbots" or "trap door devices") that: (a) is intentionally designed
                            to damage, disrupt, disable, harm, impair, interfere with, intercept, expropriate or otherwise impede in any
                            manner, any data, storage media, program, system, equipment or communication, based on any event, including
                            for example but not limited to (i) exceeding a number of copies, (ii) exceeding a number of users, (iii)
                            passage of a period of time, (iv) advancement to a particular date or other numeral, or (v) use of a certain
                            feature; or (b) would enable an unauthorized person to cause such result; or (c) would enable an unauthorized
                            person to access another person's information without such other person's knowledge and permission. Without
                            limiting the foregoing and by way of example only, users may not:</p>

                        <ul>
                            <li>Generate or facilitate unsolicited commercial email ("spam"). Such activity includes, but is not limited
                                to
                                <ul>
                                    <li>sending messages in violation of applicable anti-spam law</li>
                                    <li>imitating or impersonating another person or his, her or its email address, or creating false
                                        accounts for the purpose of sending spam</li>
                                    <li>data mining any Skolaly property to find contact information</li>
                                    <li>sending messages to users who have asked not to be contacted</li>
                                    <li>selling, exchanging or distributing to a third party the contact information of any person without such person's knowing and continued consent to such disclosure</li>
                                    <li>using Skolaly Resume contacts in contravention to Skolaly policy, as determined by Skolaly and
                                        indicated by low response rates from those persons contacted.</li>
                                </ul>
                            </li>
                            <li>Send, upload, distribute or disseminate or offer to do the same with respect to any unlawful, defamatory,
                                harassing, abusive, fraudulent, infringing, obscene, or otherwise objectionable content</li>
                            <li>Intentionally distribute viruses, worms, defects, Trojan horses, corrupted files, hoaxes, or any other
                                items of a destructive or deceptive nature</li>
                            <li>Conduct or forward pyramid schemes and the like</li>
                            <li>Transmit content that may be harmful to minors</li>
                            <li>Impersonate another person (via the use of an email address or otherwise) or otherwise misrepresent
                                yourself or the source of any email</li>
                            <li>Illegally transmit another's intellectual property or other proprietary information without such
                                owner's or licensor's permission</li>
                            <li>Use the Website to violate the legal rights (such as rights of privacy and publicity) of others</li>
                            <li>Promote or encourage illegal activity</li>
                            <li>Interfere with other Skolaly users' enjoyment of the Website</li>
                            <li>Create multiple user accounts in connection with any violation of the Agreement or create user accounts
                                by automated means or under false or fraudulent pretenses</li>
                            <li>Sell, trade, resell or otherwise exploit for any unauthorized commercial purpose or transfer any
                                Skolaly account</li>
                            <li>Modify, adapt, translate, or reverse engineer any portion of the Website</li>
                            <li>Remove any copyright, trademark or other proprietary rights notices contained in or on the Website</li>
                            <li>Reformat or frame any portion of the web pages that are part of the Website without Skolaly's explicit
                                permission</li>
                            <li>Contact other Skolaly users about multi-level marketing (MLM) programs, scholarships that require
                                payment to start, and any topics Skolaly considers detrimental to its users</li>
                            <li>Create multiple Skolaly accounts without permission</li>
                            <li>Bypass any limitations or suspensions of functionality</li>
                            <li>Provide false information in the course of using the Website</li>
                        </ul>

                        <p>Skolaly reserves the right to use the content of messages or material sent through or to the Website or
                            Skolaly to prevent potentially illegal activities and activities that are detrimental to other users.
                            Skolaly reserves the right to use a variety of methods to detect and address anomalous activity and screen
                            content to prevent abuse such as spam. These efforts may on occasion result in a temporary or permanent
                            suspension or termination of some functions for some users.</p>

                        <h4>5. Registration – Email Address Provision</h4>
                        <p>Some areas of the Website, including setting up a Skolaly account, require you to register or provide an
                            email address. If you register, you agree to (a) provide true, accurate, current and complete information
                            about yourself as prompted by our registration form (including your email address) and (b) be responsible
                            for the confidentiality and use of your username and password and not transfer or resell your use of or
                            access to the Website to any third party. Skolaly is not responsible and disclaims all liability if your
                            email is used improperly and falsely by a third party.</p>

                        <p>We reserve the right at all times (but will not have an obligation) to terminate users, reclaim usernames or
                            URLs.<br /></p>

                        <h4>6. Change In Service and Terms</h4>
                        <p>Skolaly may modify or terminate the Website from time to time, for any reason, and without notice. Skolaly
                            reserves the right to modify this Agreement from time to time without notice so check back often to review
                            this Agreement.</p>

                        <h4>7. Disclaimer of Warranties</h4>
                        <p>Skolaly disclaims any and all responsibility or liability for the accuracy, content, completeness, legality,
                            reliability, or operability or availability of information or material displayed in the Skolaly results or
                            posted on the Website by Skolaly or third parties. Skolaly disclaims any responsibility for the deletion,
                            failure to store, misdelivery, or untimely delivery of any information or material. Skolaly disclaims any
                            responsibility for any harm resulting from downloading or accessing any information or material on the
                            Website or on other sites on the Internet accessed through the Website. Under no circumstances shall Skolaly
                            be liable to you or any user on account of that user's use or misuse of or reliance on the Skolaly Website.</p>

                        <p>THE WEBSITE, AND ALL MATERIALS, INFORMATION, USER CONTENT, PRODUCTS AND SERVICES INCLUDED IN THE WEBSITE ARE
                            PROVIDED "AS IS," WITH NO WARRANTIES WHATSOEVER, EITHER EXPRESS OR IMPLIED. Skolaly AND ITS LICENSORS EXPRESSLY
                            DISCLAIM TO THE FULLEST EXTENT PERMITTED BY LAW ALL EXPRESS, IMPLIED, AND STATUTORY WARRANTIES, INCLUDING,
                            WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT
                            OF PROPRIETARY RIGHTS. Skolaly AND ITS LICENSORS DISCLAIM ANY WARRANTIES REGARDING THE SECURITY, RELIABILITY,
                            TIMELINESS, AND PERFORMANCE OF THE Skolaly SERVICES. Skolaly AND ITS LICENSORS DISCLAIM, ANY WARRANTIES FOR
                            ANY INFORMATION OR ADVICE OBTAINED THROUGH THE WEBSITE. Skolaly AND ITS LICENSORS DISCLAIM ANY WARRANTIES FOR
                            SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE WEBSITE OR RECEIVED THROUGH ANY LINKS PROVIDED BY
                            Skolaly.</p>

                        <p>YOU UNDERSTAND AND AGREE THAT YOU DOWNLOAD OR OTHERWISE OBTAIN MATERIAL OR DATA THROUGH THE USE OF THE WEBSITE
                            AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES TO YOUR COMPUTER SYSTEM
                            OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL OR DATA.</p>

                        <h4>Limitation of Liability</h4>
                        <p>UNDER NO CIRCUMSTANCES SHALL Skolaly OR ITS LICENSORS BE LIABLE TO ANY USER ON ACCOUNT OF THAT USER'S USE OR
                            MISUSE OF OR RELIANCE ON THE WEBSITE, ARISING FROM ANY CLAIM RELATING TO THIS AGREEMENT OR THE SUBJECT MATTER
                            HEREOF. SUCH LIMITATION OF LIABILITY SHALL APPLY TO PREVENT RECOVERY OF DIRECT, INDIRECT, INCIDENTAL,
                            CONSEQUENTIAL, SPECIAL, EXEMPLARY, AND PUNITIVE DAMAGES WHETHER SUCH CLAIM IS BASED ON WARRANTY, CONTRACT,
                            TORT (INCLUDING NEGLIGENCE), INDEMNITY, OR OTHERWISE, EVEN IF Skolaly OR ITS LICENSORS HAVE BEEN ADVISED OF
                            THE POSSIBILITY OF SUCH DAMAGES AND NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY REMEDY. SUCH
                            LIMITATION OF LIABILITY SHALL APPLY WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF AND RELIANCE ON THE WEBSITE,
                            FROM RELIANCE OR DAMAGE CAUSED BY INFORMATION POSTED ON THE WEBSITE, FROM INABILITY TO USE THE WEBSITE, OR
                            FROM THE INTERRUPTION, SUSPENSION, OR TERMINATION OF WEBSITE (INCLUDING SUCH DAMAGES INCURRED BY THIRD PARTIES).
                            THIS LIMITATION SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR GOODS RECEIVED
                            THROUGH OR ADVERTISED ON THE WEBSITE OR RECEIVED THROUGH ANY LINKS PROVIDED IN THE WEBSITE. THIS LIMITATION
                            SHALL ALSO APPLY, WITHOUT LIMITATION, TO THE COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, LOST PROFITS,
                            OR LOST DATA. SUCH LIMITATION SHALL FURTHER APPLY WITH RESPECT TO THE PERFORMANCE OR NON-PERFORMANCE OF THE
                            WEBSITE OR ANY INFORMATION OR MERCHANDISE THAT APPEARS ON, OR IS LINKED OR RELATED IN ANY WAY TO, THE WEBSITE.
                            SUCH LIMITATION SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY AND TO THE
                            FULLEST EXTENT PERMITTED BY LAW.</p>

                        <p>Without limiting the foregoing, under no circumstances shall Skolaly or its licensors be held liable for any
                            delay or failure in performance resulting directly or indirectly from acts of nature, forces, or causes beyond
                            its reasonable control, including, without limitation, Internet failures, computer equipment failures,
                            telecommunication equipment failures, other equipment failures, electrical power failures, strikes, labor
                            disputes, riots, insurrections, civil disturbances, shortages of labor or materials, fires, floods, storms,
                            explosions, acts of God, war, governmental actions, orders of domestic or foreign courts or tribunals,
                            non-performance of third parties, or loss of or fluctuations in heat, light, or air conditioning.</p>

                        <h4>9. Governing Law and Dispute Resolution</h4>
                        <p>This Agreement and any dispute arising out of or in connection with this Agreement ("Dispute") will be governed
                            as to all matters, including, but not limited to the validity, construction and performance of this Agreement,
                            by and under the laws of the State of Texas, United States of America, without giving effect to conflicts of
                            law principles thereof. Any and all actions, lawsuits, or other legal proceedings related to such Dispute
                            shall be filed only in the federal or state courts located in Travis County, Texas. Each of the Parties hereby
                            consent to the exclusive personal jurisdiction of the federal or state courts located in Travis County, Texas,
                            USA.</p>

                        <h4>10. Miscellaneous</h4>
                        <p>This Agreement constitutes the entire agreement between the parties with respect to the subject matter hereof
                            and supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral,
                            regarding such subject matter. Any waiver of any provision of this Agreement will be effective only if in
                            writing and signed by Skolaly. This Agreement, together with any amendments and any additional agreements you
                            may enter into with Skolaly in connection with the Website, shall constitute the entire agreement between you
                            and Skolaly concerning the Website. If any provision of this Agreement is deemed invalid by a court of competent
                            jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of
                            this Agreement, which shall remain in full force and effect.</p>

                        <p>You understand and acknowledge that Skolaly or its licensors owns all right title and interest to the Website
                            and all proprietary rights associated therewith. Skolaly reserves all rights not specifically granted herein.
                            You shall not modify any copyright notices, proprietary legends, any trademark and service mark attributions,
                            any patent markings, and other indicia of ownership on the materials accessed through the Website other than
                            your content. Any use of materials or descriptions; any derivative use of the Website or its materials; and
                            any use of data mining, robots, or similar data gathering and extraction tools is strictly prohibited. In no
                            event shall the user frame any portion of the Website or any materials contained therein.</p>

                        <p>Change of Address: If you change your billing address from an address within the United States to an address
                            outside the United States, or from an address outside of the United States to an address inside the United
                            States, you will continue to be under contract with the same Skolaly party for the remainder of the month in
                            which you made the change. At the next month, your contract will be with the Skolaly party identified in the
                            first paragraph of this Agreement.</p>

                        <p>Any notices to Skolaly must be sent to the applicable Skolaly entity identified in the first paragraph of this
                            Agreement via certified first class or air mail or overnight courier, are deemed given upon receipt, and must
                            reference the Program that is the subject of the notice ( i.e., Skolaly Resume Program, Skolaly Ads Program, or
                            Skolaly Publisher Program). Notice to you may be effected by sending email to the email address specified in
                            your account, or by posting a message to your account interface, and is deemed received when sent (for email)
                            or no more than fifteen (15) days after having been posted (for messages in your Skolaly Ads interface).</p>

                        <p>You may not assign or delegate any of your rights or obligations hereunder without Skolaly's prior written
                            consent and any such attempt is void. Skolaly may freely assign or delegate its rights and obligations
                            hereunder without notice to you. Skolaly and you and Skolaly Partners are not legal partners or agents, but
                            are independent contractors.</p>

                        <h4>USE OF SERVICES BY MINORS</h4>
                        <p>
                            The Skolaly Services are not directed to individuals under the age of fourteen (14), but if under the age of 18
                            or the age of majority in your jurisdiction, you must use Skolaly under the supervision of a parent or legal
                            guardian, or responsible adult.</p>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>